body{
  background-color:#E8ECF1;
  font: 16px Trebuchet MS
}


hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 12px;
  background-color: #E8ECF1;
  border-color: #5C7AEA;
  width: 10%;
}
h1 {
   color: #14279B;
 }
h2{
  color: #3D56B2;
}

.center{
  text-align: center;
}
